*{
    border:0%;
    padding: 0%;
    margin:0%;
}

.container li p{
    background-image:url("../imagenes/flor5.jpg");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    height: 200px;
    padding: 100px;
    width: 80%;
}

header{
    width:1000px;
    height: 150px;
    padding: 2rem;
    background: rgb(191, 199, 199);
   
 }



.main{
    width: 80%;
    margin: auto;
    padding: 20px;
}


td{
    width: 200px;
    
}

td    img{
        width: 100%;
    
}

td p{
    text-align: left;
    padding-left: 2rem;
}
footer{
    color: white;
    background-color: tomato;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    width:1000px;
}

a{
    color: white;
    text-decoration: none;
   padding-top: 10px;
}