* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Header*/

body {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
    color: white;
}

header {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.img-iguana {
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70rem;
}

.desc-section {
    padding: 2rem;
    width: 80%;
    margin: 0 auto;
}

.centrado {
    display: inline-block;
    width: 47%;
    vertical-align: middle;
    padding: 1rem;
}

.centrado p {
    font-size: 2.5rem;
    text-align: justify;
}

.centrado img {
    width: 5rem;
}

.caract {
    padding: 2rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.caract i {
    font-size: 4rem;
}

.caract p {
    font-size: 2rem;
}

.caract-sect {
    display: inline-block;
    width: 33%;
}

.articulo {
    /* display: inline-block;
    width: 100%;*/
    text-align: center;
}

footer {
    font-size: 3em;
    text-align: center;
    color: white;
    margin-top: 200px;
}

a {
    padding-top: 10px;
    color: white;
}